In [1]:
n = int(input("Enter the value of n: "))
for i in range(1, n+1):
    for j in range(1, n+1):
        print(i * j, end=" ")
    print()

Enter the value of n:  5

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [3]:
n=int(input("no. of rows"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

no. of rows 5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [5]:
n=int(input("no. of rows"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

no. of rows 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [7]:
n=int(input("no. of rows"))
for i in range(n):
    for j in range(i,n):
        print("*",end=" ")
    print()

no. of rows 5

* * * * *
* * * *
* * *
* *
*

In [9]:
n=int(input("no. of rows"))
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

no. of rows 5

*
* *
* * *
* * * *
* * * * *

In [15]:
n = int(input())
sum = 0
for i in range(2, n+1,2):
    sum += i
print(sum) #1

 4

6

In [17]:
n = int(input("Enter the value of n: "))
num = 1
for i in range(n):
    for j in range(n):
        print(num, end=" ")
        num += 1
    print()

Enter the value of n:  5

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [21]:
n = int(input("Enter the value of n: "))
for i in range(1, n+1):
    for j in range(1, n+1):
        print(i * j, end=" ")
    print()

Enter the value of n:  6

1 2 3 4 5 6
2 4 6 8 10 12
3 6 9 12 15 18
4 8 12 16 20 24
5 10 15 20 25 30
6 12 18 24 30 36

In [27]:
for i in range(1,10+1):
    for j in range(1,10+1):
        print(f"{i * j:3}", end=" ")
    print()

  1   2   3   4   5   6   7   8   9  10
  2   4   6   8  10  12  14  16  18  20
  3   6   9  12  15  18  21  24  27  30
  4   8  12  16  20  24  28  32  36  40
  5  10  15  20  25  30  35  40  45  50
  6  12  18  24  30  36  42  48  54  60
  7  14  21  28  35  42  49  56  63  70
  8  16  24  32  40  48  56  64  72  80
  9  18  27  36  45  54  63  72  81  90
 10  20  30  40  50  60  70  80  90 100

In [29]:
string = input()
char_frequency = {}
for char in string:
    if char in char_frequency:
        char_frequency[char] += 1
    else:
        char_frequency[char] = 1
for char, freq in char_frequency.items():
    print(f"{char}: {freq}")

 Abhinav Abhilash

A: 2
b: 2
h: 3
i: 2
n: 1
a: 2
v: 1
 : 1
l: 1
s: 1

In [31]:
string = input()
for i in range(len(string)):
    for j in range(i + 1, len(string) + 1):
        print(string[i:j])

 Abhinav Abhilash

A
Ab
Abh
Abhi
Abhin
Abhina
Abhinav
Abhinav
Abhinav A
Abhinav Ab
Abhinav Abh
Abhinav Abhi
Abhinav Abhil
Abhinav Abhila
Abhinav Abhilas
Abhinav Abhilash
b
bh
bhi
bhin
bhina
bhinav
bhinav
bhinav A
bhinav Ab
bhinav Abh
bhinav Abhi
bhinav Abhil
bhinav Abhila
bhinav Abhilas
bhinav Abhilash
h
hi
hin
hina
hinav
hinav
hinav A
hinav Ab
hinav Abh
hinav Abhi
hinav Abhil
hinav Abhila
hinav Abhilas
hinav Abhilash
i
in
ina
inav
inav
inav A
inav Ab
inav Abh
inav Abhi
inav Abhil
inav Abhila
inav Abhilas
inav Abhilash
n
na
nav
nav
nav A
nav Ab
nav Abh
nav Abhi
nav Abhil
nav Abhila
nav Abhilas
nav Abhilash
a
av
av
av A
av Ab
av Abh
av Abhi
av Abhil
av Abhila
av Abhilas
av Abhilash
v
v
v A
v Ab
v Abh
v Abhi
v Abhil
v Abhila
v Abhilas
v Abhilash

 A
 Ab
 Abh
 Abhi
 Abhil
 Abhila
 Abhilas
 Abhilash
A
Ab
Abh
Abhi
Abhil
Abhila
Abhilas
Abhilash
b
bh
bhi
bhil
bhila
bhilas
bhilash
h
hi
hil
hila
hilas
hilash
i
il
ila
ilas
ilash
l
la
las
lash
a
as
ash
s
sh
h

In [33]:
string = input()
reversed_string = ""
for char in string: 
    reversed_string = char + reversed_string
print(reversed_string)

 Abhinav Abhilash

hsalihbA vanihbA

In [35]:
string = input()
vowels = "aeiouAEIOU"
count = 0
for char in string:
    if char in vowels:
        count += 1
print(count)

 Abhinav

3

In [37]:
n = int(input())
for num in range(2, n + 1):
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num)

 6

2
3
5

In [39]:
n = 5
for i in range(1,n+1):
    for j in range(1,n+1):
        if (i==1 or i==n or j==1 or j==n):
            print("*", end = " ")
        else :
            print(" ", end = " ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [98]:
n = 3
for i in range(1, n + 1):  
    for j in range(n - i):
        print(" ", end="")
    for j in range(2 * i - 1):
        print("*", end="")
    print()
for i in range(n - 1, 0, -1):  
    for j in range(n - i):
        print(" ", end="")
    for j in range(2 * i - 1):
        print("*", end="")
    print()

  *
 ***
*****
 ***
  *

In [94]:
from math import factorial
n = 5
for i in range(n):
    for j in range(n-i+1):
        print(end=" ")
    for j in range(i+1):
        print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
    print()

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

In [100]:
def prime(n):
    if n>1:
        for i in range(2,n):
            if n%2==0:
                print('not a prime number')
                break
            else:
                print('prime number')
    else:
        print('not prime')
n=int(input())
prime(n)

 6

not a prime number